/* Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: blue;
}

input, button, textarea, select {
  font: inherit;
}

/* Custom properties */
:root {
  /* colors */
  --clr-dark: 39, 8, 80;
  --clr-light: 150, 106, 231;
  --clr-vibrant: 225, 82, 65;
  --clr-white: 246, 240, 249;
}

/* Component-based Classes */
.line-indicators > * {
  border: none;
  border-bottom: .2rem solid var(--line-color, white);
  cursor: pointer;
  padding: 1em 0;
  transition: border-color 0.2s ease-in-out;
}

.line-indicators > *:hover {
  border-color: rgb(var(--clr-light), 0.25);
}

.small-btn {
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1rem;
  background-color: rgb(var(--clr-dark));
  color: rgb(var(--clr-white));
  transition: all 0.3s;
}

.small-btn:hover {
  color: rgb(var(--clr-dark));
  background-color: rgb(var(--clr-white));
}

.large-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: none;
  margin: 1rem auto;
  padding: 0.5rem;
  aspect-ratio: 1;
  background-color: rgb(var(--clr-dark));
  color: rgb(var(--clr-white));
  border-radius: 50%;
}

.large-btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(var(--clr-vibrant), 0.25);
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
}

.large-btn:hover::after {
  transform: scale(1.25);
  opacity: 1;
}

@media only screen and (max-width: 1060px) {
  .small-btn {
    font-size: 1rem;
  }

  .large-btn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 560px) {
  .small-btn {
    font-size: 0.8rem;
  }

  .large-btn {
    font-size: 0.8rem;
  }
}
